a {
    color:#000;
    display:block;
    height:auto;
    position:relative;
    text-decoration:none;
    width:auto;
}
#chess_board {
    cursor: crosshair;
    background: #374046;
    border: 2px solid #999;
    border-color: #00bbd3;
}
div {
    display: block;
}
table {
  width: 100%;
}
td {
  width: 25%;
}
td:after {
  content: '';
  display: block;
  margin-top: 100%;
}
#chess_board td{
    background: #f7f7f7;
    border: 1px solid #00bbd3;
}
.chat{
    text-align: center;
    padding-right: 15px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 10px;
}
.msg{
    width: 100%;
}
#x{
    font-style: italic;
}
.developer{
    text-align: center;
}
a, .devtag{
    display: inline;
}
.live{
    width : auto;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hidden {
    visibility: hidden
}