a {
color:#000;
display:block;
height:100px;
position:relative;
text-decoration:none;
width:100px;
}
#chess_board { border:1px solid #777; cursor: crosshair;}
#chess_board td {
background:#fff;
height:80px;
text-align:center;
vertical-align:middle;
width:80px;
border:1px solid #aaa;
}
.chat{
    overflow: auto;
    overflow-x: hidden;
    width: 400px;
    height: 506px;
    padding-right: 60px;
}
h1, h2 {
    display: inline;
}
#x{
    font-style: italic;
}
.developer{
    position: absolute;
    bottom: 0;
    left: 0;
}
a, .devtag{
    display: inline;
}
