a {
    color:#000;
    display:block;
    height:auto;
    position:relative;
    text-decoration:none;
    width:auto;
}
@media only screen and (min-width:1000px){
    .mobile{
        width: 500px;
        margin-left: 31%;
    }
}
#chess_board {
    border:0.5px solid #777;
    cursor: crosshair;
}
#chess_board td {
    background:#fff;
    height:90px;
    text-align:center;
    vertical-align:middle;
    border:0.5px solid #aaa;
}
.chat{
    overflow: auto;
    overflow-x: hidden;
    width: auto;
    height: auto;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 14px;
    padding-bottom: 8px;
}
h1, h2 {
    display: inline;
}
#x{
    font-style: italic;
}
.developer{
    text-align: center;
}
a, .devtag{
    display: inline;
}
.live{
    width : auto;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
